@using TravelTripProject.Models.Siniflar
@model List<About>

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_newLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>About Me</h3>

            @foreach (var x in Model)
            {
                <img src="@x.ImageUrl" alt="" />
                <p>@x.Description</p>
            }

        </div>
    </div>
</div>
